<footer id="footer">
  <p>
      Copyright &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>.
      All Rights Reserved.
  </p>
</footer>
<%- js('js/script') %>
<script src="//cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?skin=desert"></script>
